.header-right {
  height: auto;
  background-color: #303030;
  margin: 0;
  padding: 7px 15px;
  border-radius: 5px;
  /*width: 100%;*/
}
.header-right h4 {
  font-family: "Times New Roman", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin: 0;
}
.social {
  width: 100%;
  height: auto;
  background-color: #ad5557;
}
.social ul {
  margin: 0;
  list-style: none;
  padding: 15px 15px;
  background: #ad5557;
}
.social ul li {
  line-height: 22px;
  display: flex;
}
img {
  margin-top: 2px;
  height: 16px;
  width: 16px;
}
.social ul li a {
  color: #ffffff;
}
